body {
    background-color:cornflowerblue;
}

h1 {
    text-align: center;
    color:snow;
}

div.highlight {
    background-color: rgb(126, 29, 29);
    border: solid 1px black;
    border-radius: 5px;
}